/* characters positioning */
.char-tree.last-season .char-0 { left: 900px; top: 745px; display: none; } /* alonzas */
.char-tree.last-season .char-1 { top: 476px; left: 940px; } /* juan aragon */
.char-tree.last-season .char-2 { top: 20px; left: 170px;  display: none;} /* alvaro luna */
.char-tree.last-season .char-3 { top: 22px; left: 973px;  display: none;} /* isabel portugal */
.char-tree.last-season .char-47 { top: 344px; left: 942px;  display: none;} /* juan castilla */
.char-tree.last-season .char-5 { top: 50px; left: 610px;  display: none;} /* maria aragorn */
.char-tree.last-season .char-8 { top: 384px; left: 1214px;  display: none;} /* Peralta */ 
.char-tree.last-season .char-9 { top: 300px; left: 690px; } /* fernando aragorn */
.char-tree.last-season .char-10 { top: 300px; left: 470px; } /* isabel */
.char-tree.last-season .char-11 { top: 160px; left: 1219px; display: none; } /* alfonso d.c. */
.char-tree.last-season .char-12 { top: 33px; left: 331px; display: none; } /* alfonsoV. */ 
.char-tree.last-season .char-13 { top: 370px; left: 82px; display: none; } /* juana avis */
.char-tree.last-season .char-14 { top: 145px; left: 354px; display: none; } /* alfonso V */
.char-tree.last-season .char-15 { top: 14px; left: 810px;  display: none;} /* cabrera */ 
.char-tree.last-season .char-16 { top: 172px; left: 966px;  display: none;} /* bobadi */ 
.char-tree.last-season .char-17 { top: 684px; left: 626px; display: none; } /* gonzalo cordova */ 
.char-tree.last-season .char-18 { top: 194px; left: 806px; display: none; } /* chacon */ 
.char-tree.last-season .char-20 { top: 370px; left: 340px; display: none; } /* juana beltraneja */
.char-tree.last-season .char-21 { top: 542px; left: 781px;  display: none;} /* beltran */
.char-tree.last-season .char-22 { top: 368px; left: 500px;  display: none;} /* mencia */
.char-tree.last-season .char-25 { top: 250px; left: 1113px; display: none; } /* cardenas */ 
.char-tree.last-season .char-27 { top: 407px; left: 241px;  display: none;} /* pacheco */ 
.char-tree.last-season .char-29 { top: 670px; left: 1170px; display: none; } /* diego mendoza */
.char-tree.last-season .char-32 { top: 41px; left: 42px; display: none; } /* didi pacheco */
.char-tree.last-season .char-34 { top: 4px; left: 183px; display: none; } /* carrillo */ 
.char-tree.last-season .char-35 { top: 747px; left: 911px; display: none; } /* pedro mnendoza */
.char-tree.last-season .char-37 { top: 169px; left: 141px; display: none; } /* juan2 poru */ 
.char-tree.last-season .char-38 { top: 627px; left: 371px; display: none; } /* boabdil */
.char-tree.last-season .char-39 { top: 537px; left: 263px;  display: none;} /* aixa */ 
.char-tree.last-season .char-40 { top: 67px; left: 660px;  display: none;} /* hernando */ 
.char-tree.last-season .char-41 { top: 227px; left: 46px;  display: none;} /* bea braga */ 
.char-tree.last-season .char-42 { top: 617px; left: 942px;  display: none;} /* bea osoro */
.char-tree.last-season .char-44 { top: 835px; left: 355px;  display: none;} /* el zagal */  
.char-tree.last-season .char-45 { top: 820px; left: 136px;  display: none;} /* zoraida */ 
.char-tree.last-season .char-46 { top: 359px; left: 782px;  display: none;} /* infanta isa */ 
.char-tree.last-season .char-49 { top: 736px; left: 1069px;  display: none;} /* torquemada */
.char-tree.last-season .char-50 { top: 548px; left: 1230px;  display: none;} /* badoz */ 
.char-tree.last-season .char-51 { top: 274px; left: 262px;  display: none;} /* duqeu braga */ 
.char-tree.last-season .char-52 { top: 671px; left: 1170px;  display: none;} /* suson */  
.char-tree.last-season .char-57 { top: 697px; left: 107px;  display: none;} /* morayma */ 
.char-tree.last-season .char-72 { top: 698px; left: 220px;  display: none;} /* muley */ 
.char-tree.last-season .char-79 { left: 1100px; top: 90px;  display: none;} /* bea de galindo */ 
.char-tree.last-season .char-80 { top: 860px; left: 243px;  display: none;} /* ABEN Hud*/
.char-tree.last-season .char-81 { top: 581px; left: 154px;  display: none;} /* ahmed */ 
.char-tree.last-season .char-82 { top: 537px; left: 1055px;  display: none;} /* colon */ 
.char-tree.last-season .char-83 { top: 397px; left: 1063px;  display: none;} /* santangel */   